Cargo.lock
/target/*
static_files
src/clientapp/node_modules
src/clientapp/package-lock.json
src/clientapp/build
code.code-workspace
.git
alexbox.db
planner.db
build-pi/*
build/*
build-pi.tar.gz
build.tar.gz
